<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.forsp.StringHelper.commands.sampleCommand"
            class="org.forsp.stringhelper.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.forsp.StringHelper.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.forsp.StringHelper.contribution1"
            nameFilter="*.*"
            objectClass="org.eclipse.ui.IEditorInput">
         <menu
               icon="icons/1442074693_text-width.png"
               id="org.forsp.StringHelper.menu1"
               label="String Helper"
               path="additions">
            <separator
                  name="Get string content">
            </separator>
         </menu>
         <action
               class="org.forsp.stringhelper.popup.actions.NewAction"
               enablesFor="1"
               icon="icons/get_text.png"
               id="org.forsp.StringHelper.newAction"
               label="Get string content"
               menubarPath="org.forsp.StringHelper.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
